.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #feefec;
}
body {
  font-family: Onest;
}
.display-1 {
  font-family: 'Onest', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Onest', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Onest', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Onest', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Onest', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f0c808 !important;
}
.bg-success {
  background-color: #20ac6b !important;
}
.bg-info {
  background-color: #0aa3c2 !important;
}
.bg-warning {
  background-color: #cc9900 !important;
}
.bg-danger {
  background-color: #ae1e2c !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f0c808 !important;
  border-color: #f0c808 !important;
  color: #5f0000 !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #f8d633 !important;
  border-color: #f8d633 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f8d633 !important;
  border-color: #f8d633 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #4d5e85 !important;
  border-color: #4d5e85 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #6175a4 !important;
  border-color: #6175a4 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #6175a4 !important;
  border-color: #6175a4 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
}
.btn-success,
.btn-success:active {
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f0c808;
  color: #f0c808;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #9c8205 !important;
  background-color: transparent !important;
  border-color: #9c8205 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f0c808 !important;
  border-color: #f0c808 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #4d5e85;
  color: #4d5e85;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #2d374e !important;
  background-color: transparent !important;
  border-color: #2d374e !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #4d5e85 !important;
  border-color: #4d5e85 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0aa3c2;
  color: #0aa3c2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #065e70 !important;
  background-color: transparent !important;
  border-color: #065e70 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #20ac6b;
  color: #20ac6b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #12633e !important;
  background-color: transparent !important;
  border-color: #12633e !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #cc9900;
  color: #cc9900;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #755800 !important;
  background-color: transparent !important;
  border-color: #755800 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ae1e2c;
  color: #ae1e2c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #641119 !important;
  background-color: transparent !important;
  border-color: #641119 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f0c808 !important;
}
.text-secondary {
  color: #4d5e85 !important;
}
.text-success {
  color: #20ac6b !important;
}
.text-info {
  color: #0aa3c2 !important;
}
.text-warning {
  color: #cc9900 !important;
}
.text-danger {
  color: #ae1e2c !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #8d7605 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #283044 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #105636 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #055161 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #664d00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #570f16 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f0c808;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0aa3c2;
}
.alert-warning {
  background-color: #cc9900;
}
.alert-danger {
  background-color: #ae1e2c;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f0c808;
  border-color: #f0c808;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f0c808;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdf4c7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #68e3aa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #55dbf6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffe599;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e56773;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Onest', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f0c808 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Onest', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #f0c808;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f0c808;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f0c808;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f0c808;
  border-bottom-color: #f0c808;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f0c808 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #4d5e85 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f0c808' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-udVFkgKCOz {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-udVFkgKCOz .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-udVFkgKCOz .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-udVFkgKCOz .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-udVFkgKCOz .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-udVFkgKCOz .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-udVFkgKCOz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-udVFkgKCOz .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-udVFkgKCOz .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-udVFkgKCOz .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-udVFkgKCOz .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-udVFkgKCOz .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-udVFkgKCOz .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-udVFkgKCOz .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-udVFkgKCOz .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-udVFkgKCOz .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-udVFkgKCOz .nav-link {
  width: fit-content;
  position: relative;
}
.cid-udVFkgKCOz .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-udVFkgKCOz .navbar-logo {
    padding-left: 0;
  }
}
.cid-udVFkgKCOz .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-udVFkgKCOz .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-udVFkgKCOz .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-udVFkgKCOz .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-udVFkgKCOz .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-udVFkgKCOz .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-udVFkgKCOz .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-udVFkgKCOz .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-udVFkgKCOz .nav-item:focus,
.cid-udVFkgKCOz .nav-link:focus {
  outline: none;
}
.cid-udVFkgKCOz .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-udVFkgKCOz .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-udVFkgKCOz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-udVFkgKCOz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-udVFkgKCOz .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-udVFkgKCOz .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-udVFkgKCOz .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-udVFkgKCOz .navbar.opened {
  transition: all 0.3s;
}
.cid-udVFkgKCOz .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-udVFkgKCOz .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-udVFkgKCOz .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-udVFkgKCOz .navbar.collapsed {
  justify-content: center;
}
.cid-udVFkgKCOz .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-udVFkgKCOz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-udVFkgKCOz .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.3rem);
  }
}
.cid-udVFkgKCOz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-udVFkgKCOz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-udVFkgKCOz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-udVFkgKCOz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-udVFkgKCOz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-udVFkgKCOz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-udVFkgKCOz .navbar {
    min-height: 72px;
  }
  .cid-udVFkgKCOz .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-udVFkgKCOz .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-udVFkgKCOz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-udVFkgKCOz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-udVFkgKCOz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-udVFkgKCOz .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-udVFkgKCOz .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-udVFkgKCOz .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-udVFkgKCOz .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-udVFkgKCOz .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-udVFkgKCOz .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-udVFkgKCOz .dropdown-item.active,
.cid-udVFkgKCOz .dropdown-item:active {
  background-color: transparent;
}
.cid-udVFkgKCOz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-udVFkgKCOz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-udVFkgKCOz .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-udVFkgKCOz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-udVFkgKCOz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-udVFkgKCOz .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-udVFkgKCOz ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-udVFkgKCOz .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-udVFkgKCOz .navbar-buttons {
    text-align: left;
  }
}
.cid-udVFkgKCOz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-udVFkgKCOz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-udVFkgKCOz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-udVFkgKCOz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-udVFkgKCOz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-udVFkgKCOz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-udVFkgKCOz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-udVFkgKCOz nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-udVFkgKCOz nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-udVFkgKCOz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-udVFkgKCOz .navbar-dropdown {
  padding: 0 1rem;
}
.cid-udVFkgKCOz a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-udVFkgKCOz .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-udVFkgKCOz .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-udVFkgKCOz .navbar {
    height: 70px;
  }
  .cid-udVFkgKCOz .navbar.opened {
    height: auto;
  }
  .cid-udVFkgKCOz .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-udVFkgKCOz .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-udVFkgKCOz .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-udVFkgKCOz .navbar-brand {
    margin-right: auto;
  }
  .cid-udVFkgKCOz .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-udVFkgKCOz .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-udVFkgKCOz .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-udVFkgKCOz .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-udVFkgKCOz .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-udVFkgKCOz .navbar-collapse {
    padding: 1rem;
  }
}
.cid-udVFkgKDLg {
  display: flex;
}
@media (min-width: 768px) {
  .cid-udVFkgKDLg {
    align-items: flex-end;
  }
  .cid-udVFkgKDLg .row {
    justify-content: flex-start;
  }
  .cid-udVFkgKDLg .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-udVFkgKDLg .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-udVFkgKDLg {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-udVFkgKDLg .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-udVFkgKDLg .content-wrap {
    width: 100%;
  }
}
.cid-udVFkgKDLg .mbr-fallback-image.disabled {
  display: none;
}
.cid-udVFkgKDLg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-udVFkgKDLg .mbr-section-title,
.cid-udVFkgKDLg .mbr-section-subtitle {
  text-align: left;
  /* color: #b24619; */
    color: #b41007;
}
.cid-udVFkgKDLg .mbr-text,
.cid-udVFkgKDLg .mbr-section-btn {
  text-align: left;
}
.cid-udVFkgLbVP {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-udVFkgLbVP .mbr-fallback-image.disabled {
  display: none;
}
.cid-udVFkgLbVP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-udVFkgLbVP .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-udVFkgLbVP .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-udVFkgLbVP .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-udVFkgLbVP .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-udVFkgLbVP .mbr-section-title {
  color: #000000;
}
.cid-udVFkgLbVP .mbr-text,
.cid-udVFkgLbVP .mbr-section-btn {
  color: #000000;
}

/* .cid-udVFkgLbVP>p>a{
  background-color: #000;
  color: #b24619;
} */
.cid-upNmtWAHRh {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: #ffb700;
}
.cid-upNmtWAHRh .justify-content-center {
  align-items: center;
}
.cid-upNmtWAHRh .mbr-fallback-image.disabled {
  display: none;
}
.cid-upNmtWAHRh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-upNmtWAHRh .item-wrapper {
  display: flex;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-upNmtWAHRh .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-upNmtWAHRh .mbr-section-btn {
  padding-left: 1.5rem;
  text-align: right;
}
@media (max-width: 767px) {
  .cid-upNmtWAHRh .mbr-section-btn {
    text-align: center;
    padding-left: 0rem;
  }
}
.cid-upNmtWAHRh .row {
  align-items: center;
}
.cid-upNmtWAHRh .card-text {
  margin-bottom: 0px;
  text-align: left;
  color: #000000;
}
@media (max-width: 767px) {
  .cid-upNmtWAHRh .card-text {
    text-align: center;
  }
}
.cid-upNmtWCENv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-upNmtWCENv .w-100{
  scale: 0.7;
}
.cid-upNmtWCENv .mbr-fallback-image.disabled {
  display: none;
}
.cid-upNmtWCENv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-upNmtWCENv .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
.cid-upNmtWCENv .text-wrapper {
  padding: 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-upNmtWCENv .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-upNmtWCENv .text-wrapper {
    padding: 1.5rem;
  }
}

.cid-upNmtWCENv .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-upNmtWCENv .row {
  flex-direction: row-reverse;
}
.cid-upNmtWCENv .image-wrapper {
  padding: 0 1rem;
}
.cid-upNmtWCENv img,
.cid-upNmtWCENv .image-wrapper {
  height: 600px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-upNmtWCENv img,
  .cid-upNmtWCENv .image-wrapper {
    max-height: 350px;
  }
}
.cid-upNmtWCENv .mbr-section-title {
  color: #000000;
}
.cid-upNmtWCENv .mbr-text {
  color: #000000;
}

.cid-udVFkgLYbI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-udVFkgLYbI .item:focus,
.cid-udVFkgLYbI span:focus {
  outline: none;
}
.cid-udVFkgLYbI .item {
  cursor: pointer;
}
.cid-udVFkgLYbI .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-udVFkgLYbI .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-udVFkgLYbI .grid-container-1,
.cid-udVFkgLYbI .grid-container-2,
.cid-udVFkgLYbI .grid-container-3 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-udVFkgLYbI .grid-container-1,
  .cid-udVFkgLYbI .grid-container-2,
  .cid-udVFkgLYbI .grid-container-3 {
    gap: 0 1rem;
  }
}
.cid-udVFkgLYbI .mbr-section-title {
  color: #000000;
}
.cid-udVFkgLYbI .mbr-text,
.cid-udVFkgLYbI .mbr-section-btn {
  color: #000000;
}
.cid-udVFkgLYbI .content-head {
  max-width: 800px;
}
.cid-udVFkgLYbI .container,
.cid-udVFkgLYbI .container-fluid {
  overflow: hidden;
}
.cid-udVFkgLYbI .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-udVFkgLYbI .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-udVFkgLYbI .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-udVFkgLYbI .grid-item img {
    min-width: 35vw;
  }
}
.cid-udVFkgLYbI .grid-container-1,
.cid-udVFkgLYbI .grid-container-2,
.cid-udVFkgLYbI .grid-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-udVFkgLYbI .grid-container-1 {
  align-items: flex-end;
}
.cid-udVFkgLYbI .grid-container-2 {
  align-items: flex-start;
}
.cid-udVFkgLcdO {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-udVFkgLcdO .mbr-text {
  color: #000000;
}
.cid-udVFkgLcdO .mbr-section-subtitle {
  color: #000000;
}
.cid-udVFkgLcdO .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-udVFkgLcdO .mbr-text,
.cid-udVFkgLcdO .item .mbr-section-btn {
  text-align: left;
}
.cid-udVFkgLcdO .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-udVFkgLcdO .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-udVFkgLcdO .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-udVFkgLLqu {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-udVFkgLLqu .mbr-section-title {
  text-align: center;
  color: #F55D3E;
}
.cid-udVFkgLLqu .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-udVFkgLCAi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-udVFkgLCAi .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-udVFkgLCAi .item-wrapper {
  margin-bottom: 2rem;
}
.cid-udVFkgLCAi .card-title,
.cid-udVFkgLCAi .iconfont-wrapper {
  color: #000000;
}
.cid-udVFkgLCAi .card-text {
  color: #000000;
  text-align: center;
}
.cid-udVFkgLCAi .content-head {
  max-width: 800px;
}
.cid-udVFkgLCAi .mbr-section-title {
  color: #000000;
}
.cid-udVFkgLCAi .card-title,
.cid-udVFkgLCAi .img-wrapper {
  text-align: center;
}
.cid-udVFkgLCAi .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-udVFkgM7Um {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-udVFkgM7Um .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.cid-udVFkgM7Um img,
.cid-udVFkgM7Um .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-udVFkgM7Um .item:focus,
.cid-udVFkgM7Um span:focus {
  outline: none;
}
.cid-udVFkgM7Um .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-udVFkgM7Um .item {
    margin-bottom: 1rem;
  }
}
.cid-udVFkgM7Um .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-udVFkgM7Um .mbr-section-btn {
  margin-top: auto !important;
}
.cid-udVFkgM7Um .mbr-section-title {
  color: #000000;
}
.cid-udVFkgM7Um .mbr-text,
.cid-udVFkgM7Um .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-udVFkgM7Um .item-title {
  color: #000000;
  text-align: center;
}
.cid-udVFkgM7Um .content-head {
  max-width: 800px;
}
.cid-udVFkgMkVN {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-udVFkgMkVN .mbr-fallback-image.disabled {
  display: none;
}
.cid-udVFkgMkVN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udVFkgMkVN .title .num {
  width: 100%;
  display: block;
}
.cid-udVFkgMkVN .title .card-title {
  z-index: 1;
}
.cid-udVFkgMkVN .num {
  color: #F0C808;
  text-align: center;
}
.cid-udVFkgMkVN .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-udVFkgMkVN * {
    text-align: center !important;
  }
  .cid-udVFkgMkVN .content-column {
    margin-bottom: 2rem;
  }
}
.cid-udVFkgMkVN .content-head {
  max-width: 800px;
}
.cid-udVFkgMkVN .card-text {
  text-align: center;
}
.cid-udVFkgMkVN .card-title,
.cid-udVFkgMkVN .card-img {
  text-align: center;
}
.cid-udVFkgMQv9 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-udVFkgMQv9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-udVFkgMQv9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udVFkgMQv9 .row {
  flex-direction: row-reverse;
}
.cid-udVFkgMbqd {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-udVFkgMbqd .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.cid-udVFkgMbqd img,
.cid-udVFkgMbqd .item-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-udVFkgMbqd .item:focus,
.cid-udVFkgMbqd span:focus {
  outline: none;
}
.cid-udVFkgMbqd .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-udVFkgMbqd .item {
    margin-bottom: 1rem;
  }
}
.cid-udVFkgMbqd .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-udVFkgMbqd .mbr-section-title {
  color: #000000;
}
.cid-udVFkgMbqd .mbr-text,
.cid-udVFkgMbqd .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-udVFkgMbqd .item-title {
  color: #000000;
  text-align: center;
}
.cid-udVFkgMbqd .content-head {
  max-width: 800px;
}
.cid-udVFkgNsjE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-udVFkgNsjE .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-udVFkgNsjE img,
.cid-udVFkgNsjE .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-udVFkgNsjE .item:focus,
.cid-udVFkgNsjE span:focus {
  outline: none;
}
.cid-udVFkgNsjE .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-udVFkgNsjE .item {
    margin-bottom: 1rem;
  }
}
.cid-udVFkgNsjE .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-udVFkgNsjE .mbr-section-title {
  color: #232323;
}
.cid-udVFkgNsjE .mbr-text,
.cid-udVFkgNsjE .mbr-section-btn {
  color: #232323;
}
.cid-udVFkgNsjE .item-title {
  color: #232323;
}
.cid-udVFkgNsjE .content-head {
  max-width: 800px;
}
.cid-udVFkgNsjE .iframe{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-udVFkgNsjE iframe{
  height: 100%;
  border-radius: 9%;
}
.cid-udVFkgN1rt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-udVFkgN1rt .mbr-fallback-image.disabled {
  display: none;
}
.cid-udVFkgN1rt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udVFkgN1rt .card-wrapper {
  background: #f55d3e;
}
.cid-udVFkgN2rt .card-wrapper {
  background: #f2aa4b;
}
@media (max-width: 767px) {
  .cid-udVFkgN1rt .card-wrapper {
    padding: 1.5rem;
  }
  .cid-udVFkgN1rt .image-wrapper {
    margin-bottom: 2rem;
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-udVFkgN1rt .card-wrapper {
    padding: 2.25rem;
  }

  .cid-udVFkgN1rt .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-udVFkgN1rt .card-wrapper {
    padding: 4rem;
  }

  .cid-udVFkgN2rt {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .cid-udVFkgN2rt .upcomming_event_image{
    /* border: 8px solid orange; */
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .cid-udVFkgN1rt .image-wrapper {
    scale: 0.5;
  }
}
.cid-udVFkgN1rt .mbr-text,
.cid-udVFkgN1rt .mbr-section-btn {
  color: #ffd7ef;
}
.cid-udVFkgN1rt .card-title,
.cid-udVFkgN1rt .card-box {
  text-align: center;
  color: #FFFFFF;
}
.cid-udVFkgNgDh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-udVFkgNgDh .mbr-fallback-image.disabled {
  display: none;
}
.cid-udVFkgNgDh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udVFkgNgDh .bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-udVFkgNgDh .bg-facebook:hover {
  background: #0b60cb;
}
.cid-udVFkgNgDh .bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-udVFkgNgDh .bg-twitter:hover {
  background: #0c85d0;
}
.cid-udVFkgNgDh .bg-instagram {
  background: #f00075;
  color: #ffffff;
}
.cid-udVFkgNgDh .bg-instagram:hover {
  background: #bd005c;
}
.cid-udVFkgNgDh .bg-tiktok {
  background: #000000;
  color: #ffffff;
}
.cid-udVFkgNgDh .bg-tiktok:hover {
  background: #000000;
}
.cid-udVFkgNgDh .bg-whatsapp {
  background: #00cc02;
  color: #ffffff;
}
.cid-udVFkgNgDh .bg-whatsapp:hover {
  background: #028402;
}
.cid-udVFkgNgDh .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.cid-udVFkgNgDh [class^="socicon-"]:before,
.cid-udVFkgNgDh [class*=" socicon-"]:before {
  line-height: 55px;
  padding: 0.6rem;
}
.cid-udVFkgNzS6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-udVFkgNzS6 .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-udVFkgNzS6 img,
.cid-udVFkgNzS6 .item-img {
  width: 100%;
}
.cid-udVFkgNzS6 .item:focus,
.cid-udVFkgNzS6 span:focus {
  outline: none;
}
.cid-udVFkgNzS6 .item {
  margin-bottom: 2rem;
}
@media (max-width: 575px) {
  .cid-udVFkgNzS6 .item {
    margin-bottom: 1rem;
  }
}
.cid-udVFkgNzS6 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-udVFkgNzS6 .mbr-section-title {
  color: #000000;
}
.cid-udVFkgNzS6 .mbr-text,
.cid-udVFkgNzS6 .mbr-section-btn {
  color: #000000;
}
.cid-udVFkgNzS6 .item-title {
  color: #000000;
  text-align: center;
}
.cid-udVFkgNzS6 .content-head {
  max-width: 800px;
}
.cid-udVFkgNzS6 img {
  filter: grayscale(1);
}
.cid-udVFkgNDvA {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-udVFkgNDvA .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-udVFkgNDvA form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-udVFkgNDvA form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-udVFkgNDvA form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-udVFkgNDvA .content-head {
  max-width: 800px;
}
.cid-udVFkgNvuE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-udVFkgNvuE .mbr-fallback-image.disabled {
  display: none;
}
.cid-udVFkgNvuE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udVFkgNvuE .row {
  justify-content: center;
}
.cid-udVFkgNvuE .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-udVFkgNvuE .item {
    margin-bottom: 1rem;
  }
}
.cid-udVFkgNvuE .item .item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-udVFkgNvuE .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-udVFkgNvuE .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-udVFkgNvuE .content-head {
  max-width: 800px;
}
.cid-ugWamEPrz1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fffffb;
}
.cid-ugWamEPrz1 .row {
  flex-direction: row;
}
.cid-ugWamEPrz1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugWamEPrz1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugWamEPrz1 .mbr-description {
  text-align: left;
}
.cid-ugWamEPrz1 .item-wrapper {
  background: #ffffff;
  margin-bottom: 1rem;
  padding: 2.25rem 2.25rem 1rem 2.25rem;
}
@media (max-width: 767px) {
  .cid-ugWamEPrz1 .item-wrapper {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ugWamEPrz1 .item-wrapper {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-ugWamEPrz1 .card-title,
.cid-ugWamEPrz1 .iconfont-wrapper {
  color: #000000;
}
.cid-ugWamEPrz1 .card-text {
  color: #000000;
}
.cid-ugWamEPrz1 .mbr-section-title {
  color: #f45601;
  text-align: center;
}
.cid-ugWamEPrz1 .mbr-text,
.cid-ugWamEPrz1 .mbr-section-btn {
  text-align: left;
}
.cid-ugWamEPrz1 .card-text,
.cid-ugWamEPrz1 .item .mbr-section-btn {
  text-align: left;
}
.cid-ugWamEPrz1 .counter-container p {
  margin: 0;
  /* padding-bottom: 1rem; */
  padding-left: -1.25rem;
  list-style: 2rem;
}
.cid-ugWamEPrz1 .counter-container ul {
  margin: 0;
  padding-left: 2rem;
  list-style: 1.5rem;
}
.cid-ugWamEPrz1 .counter-container ul li {
  position: relative;
  list-style: none;
  margin-bottom: 0.5rem;
}
.cid-ugWamEPrz1 .counter-container ul li:before {
  position: absolute;
  left: -1.5em;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9fe870;
  background-color: #9fe870;
  width: 0.5em;
  height: 0.5em;
  top: 0.4em;
  border-radius: 50%;
}
.cid-ugWamEPrz1 .mbr-text UL {
  text-align: left;
}
.cid-udVFkgOyZa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-udVFkgOyZa .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-udVFkgOyZa .social-row .soc-item {
  margin: 5px;
}
.cid-udVFkgOyZa .social-row .soc-item a:hover .mbr-iconfont,
.cid-udVFkgOyZa .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #d5f59f;
}
.cid-udVFkgOyZa .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-udVFkgOyZa .row-links {
  width: 100%;
  justify-content: center;
}
.cid-udVFkgOyZa .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-udVFkgOyZa .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-udVFkgOyZa .header-menu li p {
  margin: 0;
}
.cid-udVFkgOyZa .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-udVFkgOyZa .mbr-section-title {
  color: #ffffff;
}
.zoom {
  padding: 10px;
  transition: transform.5s;/*Animation*/
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.zoom:hover {
  background: #000;
  border-radius: 10px;
  box-shadow: inset 1px 1px 10px 10px #fff;
  transform: scale(1.3);
  display:flex; 
  /* align-items: center;
  justify-content: center;
  */
}
.image_services_next_door{
  margin-top: 3rem;
}

.cid-uqd7MbyCgS {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/mbr-1920x1280.jpeg");
}
.cid-uqd7MbyCgS .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-uqd7MbyCgS img,
.cid-uqd7MbyCgS .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-uqd7MbyCgS .item:focus,
.cid-uqd7MbyCgS span:focus {
  outline: none;
}
.cid-uqd7MbyCgS .item {
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .cid-uqd7MbyCgS .item {
    margin-bottom: 1.5rem;
  }
}
.cid-uqd7MbyCgS .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uqd7MbyCgS .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-uqd7MbyCgS .item-content .item-footer {
  margin-top: auto;
}
.cid-uqd7MbyCgS .mbr-section-title {
  color: #ffffff;
}
.cid-uqd7MbyCgS .mbr-text,
.cid-uqd7MbyCgS .mbr-section-btn {
  color: #000000;
}
.cid-uqd7MbyCgS .item-title {
  color: #000000;
}
.cid-uqd7MbyCgS .content-head {
  max-width: 800px;
}

.cid-uqdhzaf8Nn {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-uqdhzaf8Nn h6 {
  line-height: 1.2;
}
.cid-uqdhzaf8Nn img,
.cid-uqdhzaf8Nn .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 0.5rem;
}
.cid-uqdhzaf8Nn .item:focus,
.cid-uqdhzaf8Nn span:focus {
  outline: none;
}
.cid-uqdhzaf8Nn .item {
  cursor: pointer;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-uqdhzaf8Nn .item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uqdhzaf8Nn .mbr-section-content {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}
.cid-uqdhzaf8Nn .item-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uqdhzaf8Nn .mbr-section-btn {
  margin-top: auto !important;
  text-align: center;
}
.cid-uqdhzaf8Nn .mbr-section-title {
  color: #000000;
}
.cid-uqdhzaf8Nn .mbr-text,
.cid-uqdhzaf8Nn .mbr-section-btn {
  color: #000000;
}
.cid-uqdhzaf8Nn .item-title {
  color: #000000;
  text-align: center;
}
.cid-uqdhzaf8Nn .item-subtitle {
  color: #000000;
  text-align: center;
}
.cid-uqdhzaf8Nn .item-text {
  color: #000000;
  text-align: center;
}
.cid-uqdhzaf8Nn .content-head {
  max-width: 800px;
}